<div class="blog-post">
  <div class="comm-left">
    <h4>접근권한관리</h4>      
  </div> 
  <div class="comm-right">
    <button class="btn btn-info" (click)="onView()">등록</button>
  </div> 
</div>
<button></button> <!-- 이것을 제거하면 아래 등록버튼 오류 발생 -->
<div class="blog-post">  
  <p-dataTable [value]="roles" (onRowClick)="onRowClick($event)">
    <p-column field="rolegroupId"        hidden="true"></p-column>    
    <p-column field="rolegroupName" [style]="{'width':'30%'}"  header="역할명"></p-column>
    <p-column field="rolegroupDesc" [style]="{'width':'70%'}"  header="역할설명"></p-column> 
  </p-dataTable>
</div>
