<div class="medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">
    <h4><a (click) = "onFirstTree()">메뉴관리</a></h4>
    <tree-root #tree [nodes]="nodes" [options]="options" >      
    </tree-root>    
  </div>
</div>
<div class="medium-8 columns">   
  <div class="comm-left">      
    <h4>메뉴정보</h4> 
  </div> 
  <div class="comm-right">      
    <button class="btn btn-info" *ngIf="!menu.menuNo" disabled >등록</button>
    <button class="btn btn-info" (click)="onUpdate(tree)" *ngIf="menu.menuNo">수정</button> 
    <button class="btn btn-info" (click)="onDelete(tree)" *ngIf="menu.menuNo">삭제</button>            
  </div>  
   <div class=""> 
    <table class="input-group">
      <colgroup>
        <col style="width: 30%;">
        <col style="width: 70%;">        
      </colgroup>
      <tbody>
        <tr>         
          <th class="tacenter">메뉴명</th>
          <td >
            <input type="text" name="menuName" [(ngModel)]="menu.menuName">            
          </td>        
        </tr> 
        <tr>
          <th class="tacenter">메뉴URL</th>
          <td>
            <input type="text" name="menuUrl" [(ngModel)]="menu.menuUrl">        
          </td>        
        </tr>
      </tbody>
    </table>
  </div> 
  <div *ngIf="menu.menuParent == 0 || !menu.menuNo">
  <div class="comm-left">      
    <h4>하위메뉴</h4> 
  </div> 
  <div class="comm-right">     
    <button class="btn btn-info" (click)="onAdd()">등록</button>          
  </div>
  <button></button> <!-- 이것을 제거하면 아래 등록버튼 오류 발생 -->
  <div class="blog-post">  
    <p-dataTable [value]="menulist" (onRowClick)="onRowClick($event)">
      <p-column field="menuNo"       hidden="true"></p-column>    
      <p-column field="menuName" styleClass="dt-width-30"  header="메뉴명"></p-column>      
      <p-column field="menuUrl"  styleClass="dt-width-70"  header="메뉴URL"></p-column>  
    </p-dataTable>
  </div>
</div>
  <div class="blog-post">    
    <p-dialog [(visible)]="display" [width]="400" [height]="400" modal="modal" header="메뉴등록" [closable]="false">
      <menu-add-modal (addMenu)="onAddChildMenu($event)" (close)="onClose()"></menu-add-modal>
    </p-dialog> 
  </div>
</div>